# Git
.git
.gitignore

# CI
.github

# Node
node_modules
npm-debug.log

# Env
.env
.env.*

# Editor
.vscode
.idea
.DS_Store

# Tests
test
tests
__tests__

# TS
tsconfig.json
tsconfig.*.json

# Coverage
coverage

# Misc
*.log